body, html {
  margin: 0;
}

body .content, html .content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

body {
  font-family: Roboto;
}

.settings {
  position: fixed;
  bottom: 8px;
  right: 8px;
  z-index: 5;
  opacity: 0;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  transition: all .2s ease-in-out;
}

.settings:hover {
  opacity: 1;
}

.settings input[type="number"] {
  display: inline-block;
  width: 35px;
}

@keyframes body {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  17% {
    transform: translateX(-50%) rotate(16deg);
  }
  34% {
    transform: translateX(-50%) rotate(21deg);
  }
  51% {
    transform: translateX(-50%) rotate(0deg);
  }
  68% {
    transform: translateX(-50%) rotate(-5deg);
  }
  100% {
    transform: translateX(-50%) rotate(0deg);
  }
}

@keyframes left-arm-upper {
  0% {
    transform: rotate(35deg);
  }
  17% {
    transform: rotate(60deg);
  }
  34% {
    transform: rotate(44deg);
  }
  51% {
    transform: rotate(60deg);
  }
  68% {
    transform: rotate(-72deg);
  }
  100% {
    transform: rotate(35deg);
  }
}

@keyframes left-arm-lower {
  0% {
    transform: rotate(-35deg);
  }
  17% {
    transform: rotate(-48deg);
  }
  34% {
    transform: rotate(-39deg);
  }
  51% {
    transform: rotate(-48deg);
  }
  68% {
    transform: rotate(-48deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}

@keyframes right-arm-upper {
  0% {
    transform: rotate(-16deg);
  }
  17% {
    transform: rotate(-17deg);
  }
  34% {
    transform: rotate(-22deg);
  }
  51% {
    transform: rotate(-16deg);
  }
  68% {
    transform: rotate(-113deg);
  }
  100% {
    transform: rotate(-16deg);
  }
}

@keyframes right-arm-lower {
  0% {
    transform: rotate(-10deg);
  }
  17% {
    transform: rotate(-4deg);
  }
  34% {
    transform: rotate(-3deg);
  }
  51% {
    transform: rotate(-5deg);
  }
  68% {
    transform: rotate(-48deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes trash-cont {
  68% {
    height: 420px;
    transform: rotate(0deg);
    opacity: 0;
  }
  68.5% {
    opacity: 1;
  }
  81% {
    opacity: 1;
  }
  82% {
    opacity: 0;
  }
  90% {
    height: 550px;
    transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    height: 550px;
    transform: rotate(-90deg);
    opacity: 0;
  }
}

@keyframes trash {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 0;
  }
  17% {
    opacity: 1;
  }
  68% {
    opacity: 1;
  }
  69% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.body:not(.stop) {
  animation: body 4s infinite linear;
}

.body:not(.stop) .left-arm-upper:not(.stop) {
  animation: left-arm-upper 4s infinite linear;
}

.body:not(.stop) .left-arm-lower:not(.stop) {
  animation: left-arm-lower 4s infinite linear;
}

.body:not(.stop) .right-arm-upper:not(.stop) {
  animation: right-arm-upper 4s infinite linear;
}

.body:not(.stop) .right-arm-lower:not(.stop) {
  animation: right-arm-lower 4s infinite linear;
}

.trash-cont2:not(.stop) {
  animation: trash-cont 4s infinite linear;
}

.shovel .trash:not(.stop) {
  animation: trash 4s infinite linear;
}

body {
  background: skyBlue;
}

body .trash-cont {
  width: 590px;
  height: 590px;
  position: absolute;
  bottom: 160px;
  left: 50%;
  margin-left: 250px;
  transform: translateX(-60%);
  z-index: -3;
  transition: all .2s ease-in-out;
}

body .trash-cont .trash-cont2 {
  width: 305px;
  height: 420px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: rotate(0deg);
  transform-origin: bottom right;
  opacity: 0;
}

body .trash-cont .trash-cont2 .trash {
  transform: rotate(-35deg);
}

body .trash {
  width: 40px;
  height: 40px;
  background: #25190f;
  border-radius: 30% 80%;
  position: absolute;
  top: 0;
  right: 0;
}

body .body {
  position: absolute;
  left: 50%;
  margin-left: 200px;
  bottom: 150px;
  transform: rotate(0deg) translateX(-20%);
  background: black;
  width: 25px;
  height: 180px;
  border-radius: 0px;
  transform-origin: bottom center;
  transition: all .2s ease-in-out;
}

body .body .head {
  position: absolute;
  top: -90px;
  left: -35px;
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 50%;
}

body .body .left-arm-upper, body .body .right-arm-upper {
  background: black;
  width: 25px;
  height: 100px;
  border-radius: 12.5px;
  position: absolute;
  top: 0;
  transform: rotate(0deg);
  transform-origin: 12.5px 12.5px;
}

body .body .left-arm-upper .left-arm-lower, body .body .left-arm-upper .right-arm-lower, body .body .right-arm-upper .left-arm-lower, body .body .right-arm-upper .right-arm-lower {
  background: black;
  width: 25px;
  height: 100px;
  border-radius: 12.5px;
  position: absolute;
  top: 75px;
  left: 0px;
  transform: rotate(-90deg);
  transform-origin: 12.5px 12.5px;
}

body .body .left-arm-upper .left-arm-lower .shovel, body .body .left-arm-upper .right-arm-lower .shovel, body .body .right-arm-upper .left-arm-lower .shovel, body .body .right-arm-upper .right-arm-lower .shovel {
  background: #7a5230;
  width: 10px;
  height: 300px;
  border-radius: 5px 5px 0px 0px;
  position: absolute;
  top: 90px;
  left: -50px;
  transform: rotate(-90deg);
  transform-origin: 5px 5px;
}

body .body .left-arm-upper .left-arm-lower .shovel .shovel-end, body .body .left-arm-upper .right-arm-lower .shovel .shovel-end, body .body .right-arm-upper .left-arm-lower .shovel .shovel-end, body .body .right-arm-upper .right-arm-lower .shovel .shovel-end {
  background: #7E7E7E;
  width: 40px;
  height: 44px;
  border-radius: 0px 0px 20px 20px;
  position: absolute;
  top: 300px;
  left: -15px;
  transform: skew(6deg);
  transform-origin: 5px 5px;
}

body .body .left-arm-upper .left-arm-lower .shovel .shovel-end::before, body .body .left-arm-upper .right-arm-lower .shovel .shovel-end::before, body .body .right-arm-upper .left-arm-lower .shovel .shovel-end::before, body .body .right-arm-upper .right-arm-lower .shovel .shovel-end::before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  display: block;
  width: 3px;
  height: 60%;
  position: absolute;
  left: 50%;
  top: 6px;
  transform: translateX(-50%);
}

@media (max-width: 888px) {
  body .body {
    margin-left: 0px;
  }
  body .trash-cont {
    margin-left: 0px;
    transform: translateX(-50%);
  }
}

.terrain > :nth-child(1) {
  background: #3b2717;
  width: 100%;
  height: 160px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
}

.terrain > :nth-child(2) {
  background: #302013;
  width: 460px;
  height: 40px;
  position: absolute;
  border-radius: 0px 0px 5px 5px;
  bottom: 160px;
  left: 50%;
  margin-left: 250px;
  transform: translateX(-60%);
  z-index: -1;
  transition: all .2s ease-in-out;
}

.terrain > :nth-child(3) {
  background: #3b2717;
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -3;
}

.terrain > :nth-child(4) {
  background: #444;
  width: 50%;
  height: 40px;
  position: absolute;
  bottom: 160px;
  left: -180px;
  z-index: -2;
  border-radius: 0px 0px 5px 0px;
  transition: all .2s ease-in-out;
}

.terrain > :nth-child(4)::after {
  content: "";
  display: block;
  position: absolute;
  width: 180px;
  height: 40px;
  right: -180px;
  background: #3b2717;
}

@media (max-width: 888px) {
  .terrain > :nth-child(2) {
    margin-left: 0px;
    transform: translateX(-50%);
  }
  .terrain > :nth-child(4) {
    background: transparent;
  }
}

.truck {
  position: relative;
  bottom: 480px;
  right: 0;
  height: 480px;
  width: auto;
  transform: translateX(0%);
  transition: all .5s ease-in-out;
}

.truck img {
  height: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.truck .trunk {
  display: block;
  width: 20px;
  height: 188px;
  position: absolute;
  background: #007FFF;
  z-index: 5;
  right: 15px;
  bottom: 180px;
  transform-origin: bottom right;
  transform: rotate(145deg);
  border-radius: 20px;
}

@media (max-width: 888px) {
  .truck {
    transform: translateX(-100%);
  }
}

@keyframes trunk {
  0% {
    transform: rotate(145deg);
  }
  50% {
    transform: rotate(0deg);
    right: 45px;
  }
  100% {
    transform: rotate(0deg);
    right: 100vw;
  }
}

@keyframes truck {
  50% {
    right: 0vw;
  }
  100% {
    right: 100vw;
  }
}

.trunk.animated {
  animation: trunk 1s infinite;
  animation-direction: alternate;
}

.truck.animated {
  animation: truck 1s infinite;
  animation-direction: alternate;
}

.sign-rear {
  background: #838383;
  width: 15px;
  height: 500px;
  position: absolute;
  bottom: 100px;
  right: 200px;
  z-index: 4;
}

.sign-front {
  background: #e8dc37;
  bottom: 400px;
  right: 200px;
  transform: translateX(50%);
  position: absolute;
  z-index: 5;
  padding: 15px;
  box-sizing: border-box;
}

.sign-front h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  line-height: 1em;
  margin: 0.1em 0;
  vertical-align: middle;
}

.sign-front h3 {
  text-align: center;
  font-size: 0.9em;
  vertical-align: middle;
  margin-bottom: 5px;
}
