doctype html
head
  meta(charset="utf-8")
  <meta name="viewport" content="width=device-width, initial-scale=1">
  link(rel="stylesheet", href="css/style.css", media="screen", harset="utf-8")
  link(rel="stylesheet", href="css/ie9.css", media="screen", harset="utf-8")
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="css/ie9.css" media="screen" harset="utf-8" />
  <![endif]-->
  script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.3.min.js")
  script(src="js/script.js", charset="utf-8")
  title This page is under construction
body
  div.content
    include includes/terrain.jade

    include includes/worker-body.jade

    .sign
      .sign-pole
        .sign-front
          h1 This page
          h3 is currently under construction
          
        .sign-top
          .sign-exc !
          .sign-top-1
            .sign-top-2
              .sign-top-3
      
