doctype html
head
  meta(charset="utf-8")
  <meta name="viewport" content="width=device-width, initial-scale=1">
  link(rel="stylesheet", href="css/style.css", media="screen", harset="utf-8")
  script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.3.min.js")
  script(src="js/script.js", charset="utf-8")
  
  title Work in progress
body
  div.content
    include includes/terrain.jade

    include includes/worker-body.jade
    
    //- include includes/settings.jade
