.sign-pole
  background: rgb(131, 131, 131)
  width: 15px
  height: 450px
  position: absolute
  bottom: 100px
  left: 500px
  z-index: 4
  +transition()

  .sign-front
    width: 230px
    background: #e8dc37
    top: 80px
    left: 7.5px
    transform: translateX(-50%)
    position: absolute
    z-index: 5
    padding: 15px
    box-sizing: border-box
    +transition()

    h1
      text-transform: uppercase
      text-align: center
      font-size: 2em
      line-height: 1em
      margin: 0.1em 0
      vertical-align: middle

    h3
      text-align: center
      font-size: 0.9em
      vertical-align: middle
      margin-bottom: 5px

  .sign-top
    width: 8em
    height: 8em
    position: absolute
    left: -4em
    margin-left: 7.5px
    top: -20px

  .sign-top-1, .sign-top-2, .sign-top-3
    $size: 4em
    position: absolute
    background-color: #e8dc37
    text-align: left
    width: $size
    height: $size
    border-top-right-radius: 10px
    transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866)

    &:before, &:after
      content: ''
      position: absolute
      background-color: inherit
      width: $size
      height: $size
      border-top-right-radius: 10px

    &:before
      transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%)

    &:after
      transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%)

  .sign-top-2
    $size: 4em
    left: 0
    margin-left: 0
    top: 0
    background-color: #000
    width: $size
    height: $size
    z-index: 1
    transform: translate(5%, 9%)

    &:before, &:after
      width: $size
      height: $size

    .sign-top-3
      $size: 3.2em
      left: 0
      margin-left: 0
      top: 0
      width: $size
      height: $size
      border-top-right-radius: 5px
      z-index: 1
      transform: translate(3%, 6%)

      &:before, &:after
        width: $size
        height: $size
        border-top-right-radius: 5px

@media (max-width: 888px)
  .sign-pole
    z-index: -10
    bottom: 200px
    left: 140px
