.sign-rear
  background: rgb(131, 131, 131)
  width: 15px
  height: 500px
  position: absolute
  bottom: 100px
  right: 200px
  z-index: 4

.sign-front
  background: rgb(232, 220, 55)
  bottom: 400px
  right: 200px
  transform: translateX(50%)
  position: absolute
  z-index: 5
  padding: 15px
  box-sizing: border-box

  h1
    text-transform: uppercase
    text-align: center
    font-size: 2em
    line-height: 1em
    margin: 0.1em 0
    vertical-align: middle

  h3
    text-align: center
    font-size: 0.9em
    vertical-align: middle
    margin-bottom: 5px

.sign-top
  // background: transparent
  // width: 0px
  // height: 0px
  // border: 100px solid transparent
  // border-color: transparent transparent #000 transparent
  // border-width: 100px 66px
  // position: absolute
  // bottom: 600px
  // right: 140px
  // border-radius: 100px
