.truck
  position: relative
  bottom: 480px
  right: 0
  height: 480px
  width: auto
  transform: translateX(0%)
  +transition(".5s")

  img
    height: 100%
    position: absolute
    bottom: 0px
    right: 0px

  .trunk
    display: block
    width: 20px
    height: 188px
    position: absolute
    background: #007FFF
    z-index: 5
    right: 15px
    bottom: 180px
    transform-origin: bottom right
    transform: rotate(145deg)
    border-radius: 20px

@media (max-width: 888px)
  .truck
    transform: translateX(-100%)
