div.settings
  h3 Rotate body
  input(type="range", value="0", min="-360", max="360", class="rot0")
  input(type="number", value="0", min="-360", max="360", class="rot0")

  h3 Left upper arm
  input(type="range", value="0", min="-360", max="360", class="rot1")
  input(type="number", value="0", min="-360", max="360", class="rot1")
  
  h3 Left lower arm
  input(type="range", value="90", min="-360", max="360", class="rot2")
  input(type="number", value="90", min="-360", max="360", class="rot2")
  
  h3 Right upper arm
  input(type="range", value="0", min="-360", max="360", class="rot3")
  input(type="number", value="0", min="-360", max="360", class="rot3")
  
  h3 Right lower arm
  input(type="range", value="90", min="-360", max="360", class="rot4")
  input(type="number", value="90", min="-360", max="360", class="rot4")
