div.trash-cont
  .trash-cont2
    .trash
.body
  div.man-cont
    div.head
    div.left-arm-upper
      div.left-arm-lower
        div.shovel
          div.shovel-end
            .trash
        
    div.right-arm-upper
      div.right-arm-lower
